<a href="https://colab.research.google.com/github/KrimssmirK/CCDATS1L_EXAM/blob/main/machine_problem_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Machine Problem 1

Instructions ❗️❗️

❌ Do not remove or modify the notebook sections, subsections, exam questions or any text in this python notebook

✔️ Put your answer in the designated cells below each question

In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
import seaborn as sns

## Data Cleaning

In [2]:
df = pd.read_csv('food.csv')

1. Remove all duplicates in the dataset. `(6 points)`

In [7]:
# put your answer here
# duplicates - repeated data in the dataset
duplicated_rows = df.duplicated()
duplicated_items = df.loc[duplicated_rows]
duplicated_items

Empty DataFrame
Columns: [GPA, Gender, breakfast, calories_chicken, calories_day, calories_scone, coffee, comfort_food, comfort_food_reasons, comfort_food_reasons_coded, cook, comfort_food_reasons_coded.1, cuisine, diet_current, diet_current_coded, drink, eating_changes, eating_changes_coded, eating_changes_coded1, eating_out, employment, ethnic_food, exercise, father_education, father_profession, fav_cuisine, fav_cuisine_coded, fav_food, food_childhood, fries, fruit_day, grade_level, greek_food, healthy_feeling, healthy_meal, ideal_diet, ideal_diet_coded, income, indian_food, italian_food, life_rewarding, marital_status, meals_dinner_friend, mother_education, mother_profession, nutritional_check, on_off_campus, parents_cook, pay_meal_out, persian_food, self_perception_weight, soup, sports, thai_food, tortilla_calories, turkey_calories, type_sports, veggies_day, vitamins, waffle_calories, weight]
Index: []

[0 rows x 61 columns]

2. Use the pandas `isnull()` and `any()` function to check for NaN values in each column. `(6 points)`

In [ ]:
# put your answer here

total = 0
for column in df.columns:
  for idx, value in enumerate(df[column].isnull()):
    if value == True:
      print("NaN value in index #{} in column {}".format(idx, column))
      total += 1

print("TOTAL {} NaN values".format(total))

3. Retrieve all rows with NaN values in the dataset by using the pandas `isnull()` and `.any()` inside a dataframe. `(6 points)`

In [16]:
# put your answer here

rows_with_nan = df.isnull()
print(rows_with_nan)

       GPA  Gender  breakfast  calories_chicken  calories_day  calories_scone  \
0    False   False      False             False          True           False
1    False   False      False             False         False           False
2    False   False      False             False         False           False
3    False   False      False             False         False           False
4    False   False      False             False         False           False
..     ...     ...        ...               ...           ...             ...
120  False   False      False             False         False           False
121  False   False      False             False         False           False
122  False   False      False             False          True           False
123  False   False      False             False         False           False
124  False   False      False             False          True           False

     coffee  comfort_food  comfort_food_reasons  comfort_food_reasons_coded  \
0     False         False                 False                       False
1     False         False                 False                       False
2     False         False                 False                       False
3     False         False                 False                       False
4     False         False                 False                       False
..      ...           ...                   ...                         ...
120   False         False                 False                        True
121   False         False                 False                        True
122   False         False                 False                        True
123   False         False                 False                        True
124   False         False                 False                        True

     ...   soup  sports  thai_food  tortilla_calories  turkey_calories  \
0    ...  False   False      False              False            False
1    ...  False   False      False              False            False
2    ...  False   False      False              False            False
3    ...  False   False      False              False            False
4    ...  False   False      False              False            False
..   ...    ...     ...        ...                ...              ...
120  ...  False   False      False              False            False
121  ...  False    True      False              False            False
122  ...  False   False      False              False            False
123  ...  False   False      False              False            False
124  ...  False   False      False              False            False

     type_sports  veggies_day  vitamins  waffle_calories  weight
0          False        False     False            False   False
1          False        False     False            False   False
2          False        False     False            False   False
3           True        False     False            False   False
4          False        False     False            False   False
..           ...          ...       ...              ...     ...
120        False        False     False            False   False
121        False        False     False            False   False
122        False        False     False            False   False
123         True        False     False            False   False
124         True        False     False            False   False

[125 rows x 61 columns]

4. Put all of the columns with NaN values in a list. Print the contents of the list. `(6 points)`

In [ ]:
# put your answer here

5. Loop through the list that contains columns with NaN values and use the `fillna()` function to replace NaN values with empty an string. `(6 points)`

In [ ]:
# put your answer here

6. In th **GPA** column, replace non-numeric values with zeroes. `(6 points)`

In [ ]:
# put your answer here

7. In the **comfort_food** column, replace empty values with "none". `(6 points)`

In [ ]:
# put your answer here

8. In the **weight** column, replace non-numeric values with "". `(6 points)`

In [ ]:
# put your answer here

## Feature Scaling

9. Create a new dataframe which contains the following columns: `(6 points)`
- calories_chicken
- calories_scone
- tortilla_calories
- turkey_calories
- waffle_calories

In [ ]:
# put your answer here

10. Replace the empty values un calorie column with zeroes using the `replace()` function. `(6 points)`

In [ ]:
# put your answer here

11. Use the `astype()` function to convert all columns of the new dataframe to `int`. `(6 points)`

In [ ]:
# put your answer here

12. Check the datatype of each column of the new dataframe using the `d_types` property. `(6 points)`

In [ ]:
# put your answer here

13. Create a new instance of the `MinMaxScaler()` class. `(6 points)`

In [ ]:
# put your answer here

14. Use the `fit_transform()` function to normalize all calorie features between 0 and 1. `(6 points)`

In [ ]:
# put your answer here

## Discretization

In [ ]:
# Code to replace empty values with zeroes
df['weight'] = df['weight'].replace("", value="0")

# Code to convert the weight column to int
df['weight'] = df['weight'].astype(int)

15. Use the matplotlib `hist()` function to create a histogram of the distribution of values of the weight column in the dataset. `(6 points)`

In [ ]:
# put your answer here

16. Pass three (3) bins to the matplotlib `hist()` function to create a histogram of the distribution of values of the weight column. `(6 points)`

In [ ]:
# put your answer here

17. Use the seaborn `histplot()` function to create a histogram:. `(6 points)`

    - Create three bins **0 to 100**, 1**00 to 200**, **200 to 300**
    - Name the first bin from **0 to 100** as **Underweight**
    - Name the second bin from **0 to 100** as **Normal**
    - Name the third bin from **0 to 100** as **Overweight**

    - Set the `set_xticks()` to **0,150,250**
    - Set the `set_xticklabels()` to **"Underweight", "Normal", "Overweight"**

In [ ]:
# put your answer here